body {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 60px;
    font-size: 20px;
}

#display {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    font-size: 50px;
    text-align: right;
}

#buttons {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

#equals {
    width: 150px;
}
