body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d3cc;
}

button {
    width: 70px;
    height: 70px;
    font-size: 20px;
    background-color: #d7d0c0;
    border: outset;
    box-shadow: 5px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 460px;
    background-color: #92939c;
}

#button-plate {
    gap: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

#display {
    height: 100px;
    border: 1px solid black;
    font-size: 45px;
    text-align: right;
    white-space: pre-line;
    overflow-wrap: break-word;
}

.container {
    display: flex;
}

#top {
    gap: 20px;
}

#left,
#top-left,
#right {
    flex-direction: column;
}

#left {
    gap: 20px;
}

#top-left {
    gap: 5px;
}

#top-right {
    flex-wrap: wrap;
    width: 220px;
    gap: 5px;
}

#right {
    flex-wrap: wrap;
    height: 300px;
    gap: 5px;
    justify-content: center;
}

#plus {
    height: 220px;
}

#bottom {
    justify-content: right;
}

.rectangle {
    border-radius: 5%;
}

.number {
    border-radius: 50%;
}

#zero {
    border-radius: 60px;
    width: 310px;
    height: 60px;
}