body {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 60px;
    font-size: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#display {
    height: 100px;
    border: 1px solid black;
    font-size: 45px;
    text-align: right;
    white-space: pre-line;
    overflow-wrap: break-word;
}

#buttons {
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

#equal {
    width: 100%;
}
